@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typewriter-cursor {
  0% {
    color: transparent;
  }
  49% {
    color: transparent;
  }
  50% {
    @apply text-gray-200;
  }
  100% {
    @apply text-gray-200;
  }
}

#typewriter {
  --steps: 8;
  animation: typewriter 4s steps(--steps) infinite;
}

#typewriter::after {
  content: '|';
  animation: typewriter-cursor 1s steps(1) infinite;
}